.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: lightcyan;
  }
  
  .about-me {
    background-color: lightgray;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  .education{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-size: 300px 100px;
    background-color: pink;
  }